<nav>
  <ul>
    <li><a href="{{ '/' | in_locale | relative_url }}">{% t navbar.home %}</a></li>
    <li><a href="{{ '/posts' | in_locale | relative_url }}">{% t navbar.blog %}</a></li>
  </ul>
</nav>